
extend ../layouts/main.jade

block content
  .row  
    .col-md-12
      .row
        .col-md-9
          h3 {{title}}
        .col-md-3
          .form-search.search-only.question-search
            i.search-icon.glyphicon.glyphicon-search
            input.form-control.search-query(type='text', placeholder="Search for problems")

      hr.tittle-delimeter
      
      .row
        .col-md-9
          table.table.table-striped
            thead
              tr.reactable-column-header
                th.reactable-th-status.reactable-header-sortable(role='button', tabindex='0')
                  strong
                th.reactable-th-question_id.reactable-header-sortable(role='button', tabindex='0')
                  strong #
                th.reactable-th-question_title.reactable-header-sortable(role='button', tabindex='0')
                  strong Title
                  iframe#tmp_downloadhelper_iframe(style='display: none;')
                th.reactable-th-acceptance.reactable-header-sortable(role='button', tabindex='0')
                  strong Acceptance
                th.reactable-th-difficulty.reactable-header-sortable(role='button', tabindex='0')
                  strong Difficulty
            tbody.reactable-data
              tr
                td(label='[object Object]')
                td(label='[object Object]') 56
                td(value='Merge Intervals', label='[object Object]')
                  div
                    a(href='/problem/detail/0') Merge Intervals
                td(value='27.768589054822467', label='[object Object]') 27.8%
                td(value='[object Object]', label='[object Object]') Hard
              tr
                td(label='[object Object]')
                td(label='[object Object]') 15
                td(value='3Sum', label='[object Object]')
                  div
                    a(href='/problem/detail/0') 3Sum
                td(value='20.489569150590768', label='[object Object]') 20.5%
                td(value='[object Object]', label='[object Object]') Medium
              tr
                td(label='[object Object]')
                td(label='[object Object]') 6
                td(value='ZigZag Conversion', label='[object Object]')
                  div
                    a(href='/problem/detail/0') ZigZag Conversion
                td(value='25.61512716109915', label='[object Object]') 25.6%
                td(value='[object Object]', label='[object Object]') Easy
        .col-md-3
          a.btn.btn-success.btn-block(href='/question/user/316') My Submissions
        
          h4 Top Problems
          ul
            li 
              a(href"/problem/detial/0") Sum the digits
          
          br
          
          h4 Rank
