
extend ../layouts/main.jade

block content
  .row  
    .col-md-12
      .row
        .col-md-9
          h3 {{title}}
        .col-md-3
          .form-search.search-only.question-search
            i.search-icon.glyphicon.glyphicon-search
            input.form-control.search-query(type='text', placeholder="Search for problems")

      hr.tittle-delimeter
      
      .row
        .col-md-9
          table.table.table-striped
            thead
              tr.reactable-column-header
                th.reactable-th-status.reactable-header-sortable(role='button', tabindex='0')
                  strong
                th.reactable-th-question_id.reactable-header-sortable(role='button', tabindex='0')
                  strong #
                th.reactable-th-question_title.reactable-header-sortable(role='button', tabindex='0')
                  strong Title
                  iframe#tmp_downloadhelper_iframe(style='display: none;')
                th.reactable-th-acceptance.reactable-header-sortable(role='button', tabindex='0')
                  strong Acceptance
                th.reactable-th-difficulty.reactable-header-sortable(role='button', tabindex='0')
                  strong Stars
            tbody.reactable-data
              | {% for problem in problem_list %}
              tr
                td {{ problem.prob_id }}
                td
                  div
                    a(href='/problem/detail/{{problem.prob_id}}') {{ problem.title }}
                td {{ problem.acceptance }}
                td 2342
              | {% end %}
        .col-md-3
          a.btn.btn-success.btn-block(href='#') My Submissions
        
          h4 Public Problems
          ul
            | {% for problem in public_problems %}
            li 
              a(href="/problem/detial/{{ public.prob_id }}") {{ problem.title }}
            | {% end %}
          br
          
          h4 Rank
          ul
            | {% for user in rank_users %}
            li
              a(href="/profile/{{ user.user_id }}") {{ user.nickname }}
            | {% end %}
