extend ../layouts/main.jade

block content
  h3 About Us
  hr
  
  .matrix
    img(src='https://vmatrix.org.cn/images/logo-1x.png')
  p Matrix is a mordern learing and teaching platform for teachers and students in SYSU. 
  p Matrix Community is a place for communication, asking questions, writing blog and posting snippets.
  p We are Matrixers!
