extend ../layouts/main.jade

block content
  h3 Sorry, the page is under construction
  hr
  
  .matrix
    img(src='https://vmatrix.org.cn/images/logo-1x.png')
  p
    | The page you are going to visit is under construction, if you need help please send an email to service@vmatrix.org.cn.
