extend ../layouts/main.jade

block css
  link(rel='stylesheet', href='{{static_url("pages/blog/css/detail.css")}}')
  link(rel='stylesheet', href='{{static_url("vender/simple-mde/simplemde.min.css")}}')
  link(rel='stylesheet', href='{{static_url("base/css/github-markdown.css")}}')
  link(rel='stylesheet', href='{{static_url("vender/highlight/styles/github.css")}}')
  style.
    .CodeMirror, .CodeMirror-scroll {
        min-height: 150px;
    }

    .CodeMirror {
        height: 150px;
    }

block js
  script(src='{{static_url("vender/marked.js")}}')
  script(src='{{static_url("vender/simple-mde/simplemde.min.js")}}')
  script(src='{{static_url("vender/highlight/highlight.pack.js")}}')    
  script(type='text/x-mathjax-config').
    MathJax.Hub.Config({
     showProcessingMessages: false,
     tex2jax: { inlineMath: [['$','$'],['\\\(','\\)']] },
     TeX: { equationNumbers: {autoNumber: "AMS"} }
    });
  script(type='text/javascript', src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
  
  script(src="{{static_url('pages/blog/js/detail.js')}}")


block content
  .blog-wrapper
    .row    
      .col-md-9.blog-main
        h3 {{ blog.title }}
        hr.tittle-delimeter
        .blog-info
          span.glyphicon.glyphicon-eye-open 
          | &nbsp read {{ blog.reads_num }} times
          &nbsp
          span.glyphicon.glyphicon-time 
          | &nbsp
          | {% import utility.time %}
          | {% if blog.createAt == blog.updateAt %}
          | created {{utility.time.timebefore(blog.updateAt)}}
          | {% else %}
          | updated {{utility.time.timebefore(blog.updateAt)}}
          | {% end %}
          &nbsp
          span.glyphicon.glyphicon-comment
          | &nbsp {{ blog.comments_num }} comments
          &nbsp
          span.glyphicon.glyphicon-thumbs-up
          | &nbsp {{ blog.praises_num }} praise
        .content
          p
            img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Gradient_descent.svg/350px-Gradient_descent.svg.png', alt='')
          h2#question Question
          p
            | We have some data which is structured using csv file. We have 248 parameters and one reference for each line of the data. This is the training set of your model. And also there will be a test set for you to test your data.
          p
            | Competition Link: 
            a(href='https://inclass.kaggle.com/c/linear-regression-sysu-2016/leaderboard') linear-regression-sysu-2016
          h2#gradient-descent Gradient Descent
          blockquote
            p
              | Gradient descent is a first-order optimization algorithm. To find a local minimum of a function using gradient descent, one takes steps proportional to the negative of the gradient (or of the approximate gradient) of the function at the current point. If instead one takes steps proportional to the positive of the gradient, one approaches a local maximum of that function; the procedure is then known as gradient   ascent.
          blockquote
            p
              | Gradient descent is also known as steepest descent, or the method of steepest descent. Gradient descent should not be confused with the method of steepest descent for approximating integrals.
          p
            em from Wikipedia
        br
        h4 comments ({{ blog.comments_num }})
        hr
        | {% for comment in blog.comments %}
        section.one-blog-comment
          .row.user-block
            .col-md-1.text-center.author-avatar
              img.img-circle.img-bordered-sm(src='/api/1.0/base/filesystem/avatar/{{ comment.author.user_id }}', alt='user image', width='40px', height='40px')
            .col-md-6.comment-info
              span.username
                a(href='#') {{ comment.author.nickname }}
              br
              span.description Commented - 
              | {% import utility.time %}
              | {% if comment.createAt == comment.updateAt %}
              | created {{utility.time.timebefore(comment.updateAt)}}
              | {% else %}
              | updated {{utility.time.timebefore(comment.updateAt)}}
              | {% end %}
              | &nbsp
              a(href="#") 
          // /.user-block
          .block-comment
            .comment-body
              .commentc-content-markdown(style='display:none')
                | {{ comment.content }}
              .commentc-content-html.markdown-body
        hr.comment-delimeter
        {% end %}
        //- section.one-blog-comment
        //-   .row.user-block
        //-     .col-md-1.text-center.author-avatar
        //-       img.img-circle.img-bordered-sm(src='/api/1.0/base/filesystem/avatar/316', alt='user image', width='40px', height='40px')
        //-     .col-md-6.comment-info
        //-       span.username
        //-         a(href='#') Jonathan Burke Jr.
        //-       br
        //-       span.description Commented - 7:30 PM today
        //-       | &nbsp
        //-       a(href="#") 
        //-   // /.user-block
        //-   .block-comment
        //-     .comment-body
        //-       | Lorem ipsum represents a long-held tradition for designers,
        //-       | typographers and the like. Some people hate it and argue for
        //-       | its demise, but others ignore the hate as they create awesome
        //-       | tools to help create filler text for everyone from bacon lovers
        //-       | to Charlie Sheen fans.
        //- hr.comment-delimeter
        
        h5 Comment it
        textarea#comment-editor
        button#comment-submit-button.btn.btn-success(type='button', data-bid='{{ blog.bid }}') Submit Comment
      .col-md-3
        .side-info-bar
          .author-info.text-center
            img.img-circle(src="/api/1.0/base/filesystem/avatar/{{ blog.author.user_id }}", width="100px", height="100px")
            br
            .author-name
              a(href="/profile/{{ blog.author.user_id }}") {{ blog.author.nickname }}
          hr
          .catalog
            h5 Catalog:
            a.label.label-primary(href='javascript:void(0)') notes
          .tags
            h5 Tags:
            {% for tag in blog.tags %}
            a.label.label-primary(href='javascript:void(0)') {{ tag.tag }}
            | &nbsp
            {% end %}
            //- a.label.label-primary(href='javascript:void(0)') Framework
          .author-other-blog
            h5 His Blogs:
            ul.author-other-blog-list
              {% for author_other_blog in author_other_blogs %}
              li: a(href="/blog/detail/{{ author_other_blog.bid }}") {{ author_other_blog.title }}
              {% end %}
          .related-blogs
            h5 Related Blogs:
            ul.related-blog-list
              {% for related_blog in related_blogs %}
              li: a(href="/blog/detail/{{ related_blog.bid }}") {{ related_blog.title }}
              {% end %}
          //- .related-blogs
          //-   h5 Related Blogs:
          //-   ul.related-blog-list
          //-     li: a(href="#") Python Tornado Framework with MVC
          //-     li: a(href="#") Nojde Express Framework with MVC
          //-     li: a(href="#") Ruby on Rails Framework with MVC
          .impressed-users
            h5 Impressed users:
            p 20 users thought this blog is impressed!
            img.img-circle.impressed-user(src="/api/1.0/base/filesystem/avatar/2", width="50px", height="50px")
            img.img-circle.impressed-user(src="/api/1.0/base/filesystem/avatar/3", width="50px", height="50px")
            img.img-circle.impressed-user(src="/api/1.0/base/filesystem/avatar/316", width="50px", height="50px")
            img.img-circle.impressed-user(src="/api/1.0/base/filesystem/avatar/5", width="50px", height="50px")
            a#btn-praise.btn.btn-primary.btn-md.btn-block(type="button", width="100%", href="javascript:void(0)", data-bid='{{ blog.bid }}') Praise
