extend ../layouts/main.jade

block content
  h3 Welcome To Matrix Community Alpha 0.1
  hr
  
  .matrix
    img(src='https://vmatrix.org.cn/images/logo-1x.png')
  p
    | if you need help please send an email to service@vmatrix.org.cn.
